/* Estilos generales */
html, body, #app {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita las barras de desplazamiento */
  background-color: #1e1e1e;
}

html {
  box-sizing: border-box;
}

.tabs {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
}

.tab {
  padding: 10px;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid grey;
}

/* Estilos para los editores y la vista previa en vivo */
#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
}

.editor, .livepreview {
  position: relative;
  background-color: black;
}

.editor::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  right: 16px;
  bottom: 16px;
  width: 48px;
  height: 48px;
}

#html::after {
  background-image: url('assets/html5.svg');
}

#css::after {
  background-image: url('assets/css3.svg');
}

#js::after {
  background-image: url('assets/js.svg');
}

/* Estilos para el iframe */
iframe {
  border: none;
}

/* Estilos para el encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}

header h1 {
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
header a{
  color: #fff;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

header a:hover{
  color: #fff;
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: underline;
}

header h1:hover{
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  text-decoration:line-through;
}

header {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}