html, body, #app {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita las barras de desplazamiento */
  background-color: #1e1e1e;
}


html {
  box-sizing: border-box;
}

iframe {
  border: none;
  height: 100%;
  width: 100%;
}

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
}

.editor {
  position: relative;
}

.monaco-editor{
  height: 100%;
  width: 100%;
}


textarea {
  outline: none;
  resize: none;
  font-family: 'Cascadia Code';
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}


/* Imagenes Lenguajes */

.editor::after {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  right: 16px;
  bottom: 16px;
  width: 48px;
  height: 48px;
  z-index: 1;
}

#html::after {
  background-image: url('assets/html5.svg');
}

#css::after {
  background-image: url('assets/css3.svg');
}

#js::after {
  background-image: url('assets/js.svg');
}



main {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-grow: 1;
}

.editors {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #1e1e1e;
}

.editor {
  flex-grow: 1;
  border: 2px solid white;
}



iframe {
  flex-grow: 1;
  border: none;
  width: 50%; /* Puedes ajustar este valor según tus necesidades */
}

header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}

header h1 {
  font-size: 20px;
}

.livepreview{
  margin: 20px;
  border: #fff 2px solid;
}